<template>
  <div class="container form-control">
    <form @submit="onSubmit">
      <div>
        <h5>Title for article:</h5>
        <div class="form-input-div">
          <input type="text" class="form-control" v-model="title" name="title" placeholder="Add title" required />
        </div>
      </div>
      <div>
        <h5>Body of article:</h5>
        <div class="form-input-div">
          <textarea type="text" class="form-control" rows="3" v-model="body" name="body" placeholder="Add body" required />
        </div>
      </div>
      <div class="col">
        <div class="gy-sm-2">
          <input type="submit" value="Save article" class="btn btn-outline-primary btn-lg" />
        </div>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  name: "AddArticle",
  data(){
    return{
      title: '',
      body: ''
    }
  },
  methods:{
    onSubmit(event){
      event.preventDefault()

      const newArticle = {
        title: this.title,
        body: this.body
      }

      this.$emit('add-article', newArticle)

      this.title = ''
      this.body = ''
    }
  }
}
</script>

<style scoped>
.gy-sm-2{
  margin-top: 5px;
}
</style>