<template>
  <div class="container">
    <div :key="elem.id_articles" v-for="elem in articles">
      <div>
        <Article @send-updated-article="onSendUpdatedArticle" @delete-article="$emit('delete-article',elem.id_articles)" :article="elem"></Article>
      </div>
    </div>
  </div>
</template>

<script>


import Article from "@/components/Article";

export default {
  name: "Articles",
  components: {
    Article
  },
  props: {
    articles: Array
  },
  emits: ['delete-article', 'send-updated-article' ],
  methods: {
    onSendUpdatedArticle(updatedArticle){
      this.$emit('send-updated-article',updatedArticle)
    }
  }
}
</script>

