<template>
  <div class="container">
    <div class="row border border-2 border-info align-items-center social-distancing">
      <div class="col-10">
        <div class="row">
          <h5>{{article.title_articles}}:</h5>
          <div class="row">
            <p>{{article.body_articles}}</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-end" >
          <p class="social-distancing span-blue cursor" @click="showUpdateForm">Update</p>
          <span class="social-distancing span-red cursor" @click="onDelete(article.id_articles)">X</span>
        </div>
      </div>
    </div>
    <div v-show="showUpdateArticle">
      <UpdateArticle @hide-update-article="hideUpdateForm" @send-updated-article="onSendUpdatedArticle" :article="article"/>
    </div>
  </div>
</template>

<script>
import UpdateArticle from "@/components/UpdateArticle";
export default {
  name: "Article",
  components: {UpdateArticle},
  props: {
    article: Object,
  },
  emits:['send-updated-article'],
  data(){
    return{
      showUpdateArticle: false
    }
  },
  methods: {
    onDelete(id){
      this.$emit('delete-article',id);
    },
    showUpdateForm(){
      this.showUpdateArticle = true
    },
    hideUpdateForm(){
      this.showUpdateArticle = false
    },
    onSendUpdatedArticle(updatedArticle){
      this.$emit('send-updated-article',updatedArticle)
    }
  }
}
</script>