<template>
  <button @click="$emit('show-add-article')" class="btn btn-primary">{{text}}</button>
</template>

<script>
export default {
  name: "Button",
  props:{
    text: String
  },
}
</script>

