<template>
  <div class="border-bottom border-1 border-dark bg-info max-width">
    <div class="row align-content-between align-items-center">
      <div class="col-4" align="right">
        <h1>Rest App</h1>
      </div>
      <div class="col-2" align="right">
        <div class="gy-sm-5">
          <button @click="$emit('show-add-article')" class="btn btn-primary">Show add article</button>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex align-items-end align-content-center">
          <form @submit="onSubmit" class="form-control bg-info">
            <div class="row">
              <div class="col-8">
                <ejs-autocomplete id="titles" :dataSource="titles" placeholder="Search for title"/>
                <div id="titleHelp" class="form-text">leave it empty if you want to search for all articles.</div>
              </div>
              <div class="col-2">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AutoCompleteComponent } from "@syncfusion/ej2-vue-dropdowns";

export default {
  name: "Header",
  components:{
    'ejs-autocomplete' : AutoCompleteComponent,
  },
  data(){
    return{
      title: '',
    }
  },
  props:{
    titles: Array
  },
  methods:{
    onSubmit(event){
      event.preventDefault()

      this.title = document.querySelector("[id=titles]").value

      const title = {
        titleString: this.title
      }

      this.$emit('search-by-title', title)
      this.title = ''
    },
    UpdateInput(value){
      this.title = value
    }
  }
}
</script>

<style>
@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-vue-dropdowns/styles/material.css";
</style>