<template>
  <div class="container form-control form-control">
    <form @submit="onSubmit">
      <div>
        <h5>Title for article:</h5>
        <div class="">
          <input type="text" class="form-control" v-model="title" name="title" placeholder="Add title" required />
        </div>
      </div>
      <div>
        <h5>Body of article:</h5>
        <div class="">
          <textarea type="text" class="form-control" rows="3" v-model="body" name="body" placeholder="Add body" required />
        </div>
      </div>
      <div class="gy-sm-2">
        <input type="submit" value="Save article" class="btn btn-outline-primary btn-lg" />
      </div>
    </form>
    <div class="gy-sm-2">
      <button @click="$emit('hide-update-article')" class="btn btn-outline-primary btn-lg">Cancel</button>
    </div>
  </div>
</template>

<script>

export default {
  name: "UpdateArticle",
  props: {
    article: Object
  },
  data(){
    return{
      title: '',
      body: ''
    }
  },
  methods: {
    onSubmit(event){
      event.preventDefault()

      if(this.title && this.body) {

        const updatedArticle = {
          id: this.article.id_articles,
          title: this.title,
          body: this.body
        }

        console.log(updatedArticle)

        this.$emit('send-updated-article', updatedArticle)
        this.$emit('hide-update-article')
      }
    }
  }
}
</script>

<style scoped>
.gy-sm-2{
  margin-top: 5px;
}
</style>