<template>
  <Header :titles="titles" @search-by-title="fetchArticles" @show-add-article="toggleShowAddArticle"/>
  <div class="container half-width">
    <div class="row">
      <div>
        <div class="row" v-show="showAddArticle">
          <AddArticle @add-article="addArticle"/>
        </div>
      </div>
      <div>
        <div class="row border border-1">
          <Articles @send-updated-article="sendUpdatedArticle" @delete-article="onDeleteArticle" :articles="articles"/>
          <div v-show="showPages">
            <div class="d-flex align-items-start social-distancing">
              <a @click="PrevPage" class="page-link cursor" :class="linkDisabledPrev">Previous</a>
              <span class="page-link">{{this.currentPage}}</span>
              <a @click="NextPage" class="page-link cursor" :class="linkDisabledNext">Next</a>
            </div>
          </div>
        </div>
        <div v-show="showErrors" class="alert alert-danger">
          {{errorMsg}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import Header from "@/components/Header";
import Articles from "@/components/Articles";
import AddArticle from "@/components/AddArticle";
import "bootstrap/dist/css/bootstrap.min.css"
import "bootstrap"


export default {
  name: 'App',
  components: {
    AddArticle,
    Articles,
    Header
  },
  data(){
    return{
      articles: [],
      showAddArticle: false,
      idArticleUpdate: 0,
      currentPage: 1,
      firstPage: 1,
      lastPage: 1,
      showPages: false,
      authorizationToken: String,
      linkDisabledNext: '',
      linkDisabledPrev: 'link-disabled',
      searchedTitle: '',
      titles: [],
      errorMsg: '',
      showErrors: false
    }
  },
  methods: {
    async fetchArticles(title){
      if (this.searchedTitle !== title){
        this.searchedTitle = title
        this.currentPage = 1
        this.linkDisabledPrev = 'link-disabled'
      }

      this.showErrors = false
      this.showPages = false
      axios.defaults.withCredentials = true
      this.articles.splice(0)

      if(!title.titleString){
      axios.get('http://rest.loc/api/articles?page='+this.currentPage, {headers: {
          'Authorization': this.authorizationToken
        }}).then(
          response => {
            if(response.data.success){
              this.searchedTitle = ''
              this.articles = response.data.data
              this.titles = response.data.titles

              this.lastPage = response.data.meta.last_page
              this.showPages = true

              this.linkDisabledNext = (this.lastPage === this.currentPage)? 'link-disabled' : ''
            }else{
              this.errorMsg = response.data.msg
              this.showErrors = true
            }
          }
      );
      }else{
        axios.post('http://rest.loc/api/article/title?page='+this.currentPage, title,{headers: {
            'Authorization': this.authorizationToken
          }}).then(
              response => {
                if(response.data.success) {
                  this.articles = response.data.data

                  this.lastPage = response.data.meta.last_page
                  this.showPages = true

                  this.linkDisabledNext = (this.lastPage === this.currentPage) ? 'link-disabled' : ''
                }else{
                  this.errorMsg = response.data.msg
                  this.showErrors = true
                }
              }
        )
      }
    },

    async login(){
      axios.defaults.headers.get['Access-Control-Allow-Origin'] = 'http://localhost:8080/';

      const user = {
        email: 'jhon@test.com',
        password: '12344321'
      }

      axios.post('http://rest.loc/api/login', user, {
        withCredentials: true
      }).then(
          response => {
              this.authorizationToken = 'Bearer ' + response.data.access_token
              this.fetchArticles('')
          }
      )
    },

    async onDeleteArticle (id){
      this.showErrors = false

      if(confirm('Are you sure?')) {
        this.currentPage = this.firstPage
        axios.delete(`http://rest.loc/api/article/${id}`,{headers: {
          'Authorization': this.authorizationToken
          }
        }).then(response => {
            if(response.data.success){
              this.fetchArticles('');
            }else{
              this.errorMsg = response.data.msg
              this.showErrors = true
            }
        })

      }
    },

    async addArticle(newArticle){
      this.showErrors = false
      this.showAddArticle = false;

      axios.post('http://rest.loc/api/article/title/body',newArticle, {headers: {
          'Authorization': this.authorizationToken
        }
      }).then(
          response => {
            if(response.data.success){
              this.fetchArticles('')
            }else{
              this.errorMsg = response.data.msg
              this.showErrors = true
            }
          }
      )
    },

    async sendUpdatedArticle(updatedArticle){
      this.showErrors = false

      axios.put(`http://rest.loc/api/article/${updatedArticle.id}/title/body`, updatedArticle, {headers: {
          'Authorization': this.authorizationToken
        }
      }).then(
          response => {
              if(response.data.success){
                this.fetchArticles('')
              }else{
                this.errorMsg = response.data.msg
                this.showErrors = true
              }
          }
      )
    },

    toggleShowAddArticle(){
      this.showAddArticle = !this.showAddArticle
    },

    async NextPage(){
      this.showErrors = false

      if(!(this.currentPage+1 > this.lastPage)){
        this.currentPage++
        this.linkDisabledNext = (this.currentPage === this.lastPage)? 'link-disabled' : ''
        this.linkDisabledPrev = ''
        await this.fetchArticles(this.searchedTitle)
      }
    },

    async PrevPage(){
      this.showErrors = false

      if(!(this.currentPage-1 < this.firstPage)){
        this.currentPage--
        this.linkDisabledPrev = (this.currentPage === this.firstPage)? 'link-disabled' : ''
        this.linkDisabledNext = ''
        await this.fetchArticles(this.searchedTitle)
      }
    },


  },

  async created() {
    await this.login();
  }
}
</script>

<style>

.half-width{
  width: 50%;
}

.social-distancing{
  margin: 5px;
}

.span-blue{
  color: steelblue;
  font-size: large;
}

.span-red{
  color: red;
  font-size: large;
}

.cursor{
  cursor: pointer;
}

.link-disabled{
  cursor: not-allowed;
  color: gray
}


</style>